
<div class="table-center">
    <h2>Tree Lookup(press "enter" to submit)</h2>
    <form name="$ctrl.form" novalidate ng-submit="$ctrl.search($ctrl.model.number)">

        <div class="table-center">
            <input name="number" ng-model="$ctrl.model.number" ng-change="$ctrl.change()" type="number" required/>
        </div>
        <div class="table-center">
            <h3 ng-if="($ctrl.form.$submitted || $ctrl.form.number.$touched) && $ctrl.form.number.$error.required">Please type number</h3>
        </div>
    </form>
    <div class="row">
        <div class="col-md-12" ng-switch="$ctrl.loading">
            <h3 ng-switch-when="true">Loading...</h3>
            <h3 ng-switch-when="false" ng-if="$ctrl.result">The number {{::$ctrl.model.number}} has been found under {{::$ctrl.result}} path</h3>
            <h3 ng-switch-when="false" ng-if="$ctrl.result === false">Entered number {{::$ctrl.model.number}} has not been found</h3>
        </div>
    </div>
</div>
