

@import (reference) "../../../node_modules/bootstrap/less/bootstrap.less";


@import "styles";


.table-center{
    display: table;
    margin: auto;
}



#header {
    position: relative;
    overflow: hidden;
    height: 700px;
    text-align: center;
    white-space: nowrap;
    background-color: #191919;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover
}

#header h1,
#header
h2 {
    color: #fff;
    letter-spacing: 12px
}

#header video,
#header .video-container {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%
}

#header .video-container {
    visibility: hidden
}

#header .video-container
iframe {
    position: absolute;
    top: 0;
    left: 0
}

#header .video-close {
    position: absolute;
    top: 52px;
    right: 140px;
    display: inline-block;
    width: 22px;
    height: 22px;
    text-decoration: none;
    color: #fff;
    font: normal normal normal 14px/1 FontAwesome;
    text-rendering: auto;
    z-index: 25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 1.5em
}

#header .video-close:before {
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background: transparent url(/includes/img/ui-icon-cross-white-small.png) no-repeat center
}

#header
.backlink {
    position: absolute;
    bottom: 15px;
    left: 90px
}

#header .fade-in {
    -webkit-animation: fade_in 2s cubic-bezier(0.39, 0.58, 0.57, 1) 0s 1 normal;
    -moz-animation: fade_in 2s cubic-bezier(0.39, 0.58, 0.57, 1) 0s 1 normal;
    -ms-animation: fade_in 2s cubic-bezier(0.39, 0.58, 0.57, 1) 0s 1 normal;
    -o-animation: fade_in 2s cubic-bezier(0.39, 0.58, 0.57, 1) 0s 1 normal;
    animation: fade_in 2s cubic-bezier(0.39, 0.58, 0.57, 1) 0s 1 normal
}

#header .word-cycle
.cycle {
    white-space: nowrap
}

#header .all-chevrons {
    position: relative;
    display: inline-block;
    margin: 0 12px;
    padding: 30px
}

#header .all-chevrons .chevron-up-right {
    position: absolute;
    top: 1px;
    right: 1px;
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    -webkit-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -moz-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -ms-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -o-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s
}

.ie8 #header .all-chevrons .chevron-up-right {
}

.ie8 #header .all-chevrons .chevron-up-right {
    width: 10px;
    height: 10px
}

#header .all-chevrons .chevron-down-left {
    position: absolute;
    bottom: 1px;
    left: 1px;
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    -webkit-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -moz-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -ms-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -o-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s
}

.ie8 #header .all-chevrons .chevron-down-left {
}

.ie8 #header .all-chevrons .chevron-down-left {
    width: 10px;
    height: 10px
}

#header .all-chevrons .chevron-up-left {
    position: absolute;
    top: 1px;
    left: 1px;
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    -webkit-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -moz-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -ms-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -o-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s
}

.ie8 #header .all-chevrons .chevron-up-left {
}

.ie8 #header .all-chevrons .chevron-up-left {
    width: 10px;
    height: 10px
}

#header .all-chevrons .chevron-down-right {
    position: absolute;
    right: 1px;
    bottom: 1px;
    display: block;
    width: 20px;
    height: 20px;
    background-size: contain;
    -webkit-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -moz-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -ms-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    -o-transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s;
    transition: all 0.125s cubic-bezier(0.39, 0.58, 0.57, 1) 0s
}